<div class="body" style="margin-top: 51px">

<div class="container">
	<p =id><%= notice %></p>
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/list', userpro: @userpro %>
			<%= render 'books/list', booknew: @booknew %>
		</div>

<div class="col-xs-9">


<h2>Users</h2>
<table class="table">
	<thead>
	<tr>
		<th>image</th>
		<th>name</th>
		<th colspan="3"></th>
	</tr>
	</thead>
	<tr>
		<% @users.each do |user| %>
		<td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"%></td>
			<td><%= user.name %></td>
			<th><%= link_to "Show", user_path(user.id) %></th>
</tr>
<% end %>
</table>

</div>

</div>
</div>
</div>
